{% if export_url %}
    {% if list_element %}
        <li>
            <button type="button" class="dropdown-item"
                    {% if disabled %}disabled aria-disabled="true" title="{{ disabled_title }}"{% else %}data-bs-toggle="modal" data-bs-target="#nautobot-generic-modal" hx-post="{{ export_url }}" hx-target="#modal-content-container" hx-swap="innerHTML" hx-vals='{{ export_hx_vals }}'{% endif %}>
                <span class="mdi mdi-database-export text-secondary" aria-hidden="true"></span> Export to file
            </button>
        </li>
    {% else %}
        <button type="button" class="btn btn-success"
                {% if disabled %}disabled aria-disabled="true" title="{{ disabled_title }}"{% else %}data-bs-toggle="modal" data-bs-target="#nautobot-generic-modal" hx-post="{{ export_url }}" hx-target="#modal-content-container" hx-swap="innerHTML" hx-vals='{{ export_hx_vals }}'{% endif %}>
            <span class="mdi mdi-database-export" aria-hidden="true"></span> Export to file
        </button>
    {% endif %}
{% endif %}
