{% if import_url %}
    {% if list_element %}
        <li>
            <button type="button" class="dropdown-item" id="import-button"
                    {% if disabled %}disabled aria-disabled="true" title="{{ disabled_title }}"{% else %}data-bs-toggle="modal" data-bs-target="#nautobot-generic-modal" hx-post="{{ import_url }}" hx-target="#modal-content-container" hx-swap="innerHTML" hx-vals='{{ import_hx_vals }}'{% endif %}>
                <span class="mdi mdi-database-import text-secondary" aria-hidden="true"></span> Import from file
            </button>
        </li>
    {% else %}
        <button type="button" id="import-button" class="btn btn-info"
                {% if disabled %}disabled aria-disabled="true" title="{{ disabled_title }}"{% else %}data-bs-toggle="modal" data-bs-target="#nautobot-generic-modal" hx-post="{{ import_url }}" hx-target="#modal-content-container" hx-swap="innerHTML" hx-vals='{{ import_hx_vals }}'{% endif %}>
            <span class="mdi mdi-database-import" aria-hidden="true"></span> Import
        </button>
    {% endif %}
{% endif %}
