{% extends 'extras/job.html' %}
{% load helpers %}
{% load form_helpers %}

{% block job_form_wrapper %}
    <div class="card">
        <div class="card-header">
            <strong>Job Data</strong>
        </div>
        <div class="card-body">
            {% render_field job_form.content_type %}
            {% render_field job_form.roll_back_if_error %}
            {% render_field job_form.match_fields %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#csv-file" role="tab" data-bs-toggle="tab">CSV File Upload</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#csv-text" role="tab" data-bs-toggle="tab">CSV Text Input</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div id="csv-fetch-failure" class="alert alert-danger" role="alert" style="display: none"></div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active py-16" id="csv-file">
                    {% render_field job_form.csv_file %}
                </div>
                <div role="tabpanel" class="tab-pane fade py-16" id="csv-text">
                    {% render_field job_form.csv_data %}
                </div>
            </div>
            <div id="csv-fields-info" class="alert alert-info" role="alert" style="display: none">
                <p>
                    <span class="text-success"><span aria-hidden="true" class="mdi mdi-check-bold"></span></span>
                    Required fields <strong>must</strong> be present in the data.
                </p>
                <p>
                    <span class="text-warning"><span aria-hidden="true" class="mdi mdi-key-link"></span></span>
                    Related objects may be identified by their UUID(s) and/or by any field(s) that uniquely identify them.
                    For example:
                    <ul>
                        <li>
                            A <code>status</code> field could be populated by UUID or by the field <code>status__name</code>.
                        </li>
                        <li>
                            A <code>location</code> field could be identified by UUID or by the fields
                            <code>location__name</code> and <code>location__location_type</code>.
                        </li>
                    </ul>
                    In either case, if no related object is intended for a given field, the string <code>NoObject</code>
                    can be given.
                </p>
                <p>
                    <span class="text-info"><span aria-hidden="true" class="mdi mdi-help-circle"></span></span>
                    Some fields have a defined set of valid values. Click the button to view the list of choices.
                </p>
            </div>
            <table id="csv-fields-table" class="table" style="display: none">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Required</th>
                        <th>Related Object</th>
                        <th>Choices</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="csv-fields-tbody"></tbody>
            </table>
        </div>
    </div>
{% endblock job_form_wrapper %}

{% block javascript %}
    {{ block.super }}
    {% include "system_jobs/inc/csv_fields_table_script.html" %}
{% endblock %}
